* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  justify-content: center;
  align-content: center;
}
#map {
  position: relative;
  top: 15%;
  left: 0;
  height: 500px;
  width: 100%;
}
#coordinates {
  position: relative;
  top: 13%;
  left: 5%;
}
